#book {
    display:grid;
    background:rgb(91, 94, 112);
    border: 5px dashed rgb(109, 148, 148);
    border-radius: 4px;
}
.details {
    list-style: none;
    padding:0;
    text-align: center;
    display:grid;
    gap:12px;
    font-size:10px;
    color:white;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
.title {
    text-align: center;
    color:rgb(2, 77, 2);
}
.food {
    display:grid;
    list-style: none;
    padding:15px;
}
h2 {padding:15px;}
.foodContainer {
    display:grid;
    grid-template-columns:2fr 1fr;
    align-items: center;
    grid-template-areas: 
        "foodName price"
        "ingredients price"
    ;
}
.foodName{
    grid-area:foodName;
    margin:0;
}
.ingredients{
    grid-area: ingredients;
    font-size:10px;
    margin:0;
}
.price {
    grid-area: price;
}