#book {
    display:grid;
    background:gray;
    border: 10px solid black;
    border-radius: 4px;
}
.details {
    list-style: none;
    padding:0;
    text-align: center;
    display:grid;
    gap:12px;
    font-size:10px;
    color:white;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
.title {
    text-align: center;
    color:green;
}
.food {
    display:grid;
    list-style: none;
}