#book {
    display:grid;
    background:rgb(39, 25, 25);
    border: 5px dotted rgb(0, 0, 0);
    border-left: 5px dashed goldenrod;
    border-radius: 4px;
    padding-right:12px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    list-style: none;
    padding:0;
    margin:0;
}
.details {
    text-align: center;
    display:grid;
    gap:12px;
    font-size:10px;
    color:white;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
.title {
    text-align: center;
    color:rgb(17, 143, 17);
}
.food {
    display:grid;
    list-style: none;
    padding:15px;
}
h2 {
    padding:15px;
}
.foodContainer {
    display:grid;
    grid-template-columns:2fr 1fr;
    align-items: center;
    grid-template-areas: 
        "foodName price"
        "ingredients price"
    ;
}
.foodName{
    grid-area:foodName;
    margin:0;
}
.ingredients{
    grid-area: ingredients;
    font-size:10px;
    margin:0;
}
.price {
    grid-area: price;
}
.otherFood {
    display:flex;
    justify-content: left;
}
.other {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:6px;
    align-items: center;
    padding:6px;
}
.other div ul {
    display:flex;
    flex-direction: column;
}
.other div h2 {
    margin:0;
    padding:0;
}
span {
    margin-left:auto;
}